# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
.venv/

# VS Code
.vscode/k

# Environment variables / secrets
.env
*.env

# OS files
.DS_Store
Thumbs.db

# ROS / build artifacts

build/
install/
log/

# Solidity / blockchain artifacts
artifacts/
cache/

# Node (if ever used)
node_modules/
.vscode/

ros_ws/build/
ros_ws/install/
ros_ws/log/